body {
    background-color: #999999;

}


#Name{

    font-size:30px;
    color: #ffeaf5;

}

.carousel {

    width: inherit;
    margin-bottom: 60%;
}
 .dropdownMenu1{
    margin-top: 10%;
}

.navbar-brand {
    max-width: 50%;
}
