#changeButton{
    background-color: inherit;
    font-size: 20px;
    font-family: inherit;
    color: white;
    margin-left: 50%;


}

#servicesContainer1{

    padding-top: 50px;
}

.navbar-nav > li > .dropdown-menu {
    background-color: inherit;
    border:  blue;
    border-bottom-width :100px ;
}

.navbar-right>li.dropdown #dropdownMenu{


    background-color: inherit;
    color: darkgrey;

    margin-top: 10px;
    border: inherit;

}
#settingsButton{
    margin-top: 10px;
    margin-left: 10%;
    background-color: transparent;
    font-size: 20px;

}